$n: 8; // segments count
.spinner {
  display: inline-block;
  margin-left: 1rem;
}
.spinner__svg {
  animation: loader 1000ms step-end infinite;
  width: 15px;
  height: 15px;
  transform: rotate(0deg);

  path {
    fill: $light;
  }
}

@keyframes loader {
  @for $i from 1 through $n {
    #{$i * (100 / $n) * 1%} {
      transform: rotate((360deg / $n) * $i);
    }
  }
}
