.table__content {
  display: none;

  table {
    // display: block;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    width: 100%;
    table-layout: fixed;
    @include media_query($sm-break) {
      width: 150%;
    }
    // thead,
    // tbody {
    //   display: block;
    // }
    // thead tr,
    // tbody tr {
    //   display: table;
    // }

    // td {
    //   flex: 1;
    //   align-self: center;
    //   white-space: nowrap;
    // }

    // td:last-child {
    //   width: 5rem;
    // }

    thead {
      border-bottom: 1px solid $gray-1;
      padding: 1rem 0;
      margin-bottom: 1rem;
      td {
        font-weight: bold;
        padding: 0.8rem;
      }
    }
    tbody {
      tr:nth-child(even):hover,
      tr:hover {
        background-color: $light-2;
      }
      td {
        padding: 0.8rem;
        margin-bottom: 0.5rem;
      }
      td.active__cell span {
        background-color: $green;
        color: $light;
        padding: 0.3rem 1rem;
        font-size: 1.4rem;
        border-radius: 0.5rem;
      }
      tr:nth-child(even) {
        background-color: $light-1;
      }
    }
  }

  &__responsive {
    overflow-x: auto;
    min-height: 50vh;
    @include media_query($sm-break) {
      min-height: 80vh;
    }
  }
}

.table__content.active {
  display: block;
}

// TABLE NAVIGATION
.table__nav {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-1;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__btn {
    padding: 2rem 1rem;
    font-size: 1.4rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .action__btn {
    align-self: center;
    color: $blue;
    font-weight: bold;
    font-size: 1.4rem;
    @include transition;
    &:hover {
      color: $blue-1;
    }
  }
}

.table__nav__btn.active {
  color: $blue;
}

// TABLE OPTION ACTION
.table__option {
  position: relative;
  display: inline-block;
  &:hover .table__option__btn + .table__option__list {
    display: block;
  }

  &:hover .table__option__btn span {
    background-color: $blue;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    width: 3.5rem;
    height: 3rem;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: block;
      background-color: $gray;
      margin: 0 0.2rem;
      @include transition;
    }

    &:hover {
      border: 1px solid $gray-1;
    }
    &:hover span {
      background-color: $dark;
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 99999;
    right: 100%;
    top: 1rem;
    min-width: 16rem;
    background-color: $light-1;
    border: 1px solid $gray-1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    li {
      button,
      a {
        padding: 0.8rem 1.5rem;
        border-bottom: 1px solid $gray-1;
        color: $dark;
        width: 100%;
        display: block;
        font-size: 1.4rem;
        text-align: left;
        font-weight: bold;
        &:hover {
          background-color: $light-1;
          color: $blue;
        }
      }
    }
    li:last-child {
      button {
        border: none;
      }
    }
  }
}

.table__option__list.active {
  display: block;
}

.no__data {
  tr {
    border: none;
    height: 50vh;
    &:hover {
      background-color: transparent !important;
    }
    td {
      position: absolute;
      width: 100% !important;
      top: 10rem;
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      border: none;
    }

    i {
      font-size: 5rem;
      display: block;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}
